mixin timepicker(name)
  - var hours = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0]
  select(id=name class='form-control timepicker' name=name disabled)
    each hour in hours
      if hour > 0
        option(value=hour) #{hour}
      else 
        option(value=hour) #{hour+12}