extends layout

block content
  div(class="container-fluid")
    h1= title
    p This is the #{title} project website
    div(class="form-group")
      -if (locations != null) {
      label(for="locations")
      div(class="col-sm-4")
        select(id="locations" class="form-control" name="locations")
          -for(var i = 0; i < locations.length; i++) {
            -var locationID = locations[i].getLocationID();
            option(value=locationID) #{locations[i].getLocationName()}
          -}
        -}
      div(class="col-sm-6")
        p Get Answers for the most recent day
        button(type="button" class="btn btn-default" onClick="getAnswersHourly()") Go!
        -if (answersHourly != null) {
          -for(var i = 0; i < answersHourly.length; i++) {
            -var ah = answersHourly[i].getAnswerHourly();
            p 
              | #{ah.Location.locationName} <br>
              | Bank ID: #{ah.Bank.bankID} <br>
              | Answer Quantity: #{ah.answerQuantity} <br>
              | Watts Per Hour: #{ah.wattsPerHour} <br> 
              | Latitude: #{ah.Location.latitude} <br>
              | Longitude: #{ah.Location.longitude} <br>
              | ______________________________________
          -}
        -}